.card {
    width: 30%;
    margin-bottom: 15px;
    padding: 15px 5px 5px 5px;
    background-color: var(--newColor2);
    border-radius: 15px;
    position: relative;
}

.card:hover .card__img {
    animation:  opacity 0.3s ease-in-out;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.card:hover .arrowDollar {
    animation:  slide 0.5s ease-in-out;
}
@keyframes slide {
    0% {
        left: 0;
    }
    50% {
        left: -20px;
    }
    100% {
        left: 0;
    }
}

.card__link {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card__body {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}
.card__text {
    padding: 0 0 15px 15px
}
.card__title {
    color: var(--textColor);
    font-weight: 900;
    font-size: 20px;
}
.card__muted {
    color: var(--newColor4);
    font-weight: 900;
    font-size: 20px;
}
.card__icon {

}
.card__img {
    margin-bottom: 20px;
}

.arrowDollar {
    position: relative;
    width: 10%;
}