.sales__content {
    background-color: var(--newColor3);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
}
.sales__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.06em;
    color: var(--newColor2);
    margin-bottom: 20px;
}
